@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";


:root {
  --background: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
}


body {
  background: var(--background);
  /* Шрифт Poppins добавлен в начало списка, он будет использоваться в первую очередь */
  font-family: 'Poppins', var(--font-sans), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Optional: For more control over links in dark mode */
a {
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #3498db; /* Modify with your preferred hover color */
}

button{
  cursor: pointer;
}