@import "tailwindcss";


:root {
  --background: #f5f5f5;
}


body {
  background: var(--background);
  transition: background 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

/* Optional: For more control over links in dark mode */
a {
  transition: color 0.3s ease;
  cursor: pointer;
}


button{
  cursor: pointer;
}

/* Анимация "подсказки" для слайдера */
@keyframes bounceHint {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px); /* Двигаем влево */
  }
  100% {
    transform: translateX(0); /* Возвращаем на место */
  }
}

/* Класс, который применяет анимацию */
.animate-bounce-hint {
  animation-name: bounceHint;
  animation-duration: 1.9s; /* Длительность анимации */
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2; /* Проиграть только один раз */
}