@import "tailwindcss";


:root {
  --background: #f5f5f5;
}


body {
  background: var(--background);
  transition: background 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

/* Optional: For more control over links in dark mode */
a {
  transition: color 0.3s ease;
  cursor: pointer;
}


button{
  cursor: pointer;
}